@model Customers.Models.Customer
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Customer Form</h1>
    
    <form asp-action="CustomerForm" method="post">
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="FirstName" class="form-label"> First Name</label>
            <input type="text" asp-for="FirstName" class="form-control"/>
        </div>

        <div class="mb-3">
            <label asp-for="LastName" class="form-label"> Last Name</label>
            <input type="text" asp-for="LastName" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"> Email</label>
            <input type="text" asp-for="Email" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Address" class="form-label"> Address</label>
            <input type="text" asp-for="Address" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Contact" class="form-label"> Contact</label>
            <input type="number" asp-for="Contact" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="willubuyagain" class="form-label"> Will you buy again? </label>
            <select asp-for="willubuyagain" class="form-control" />
                <option value=""> Choose an Option: </option>
                <option value="true"> YES </option>
                <option value="false"> NO </option>
        </div>
    </form>
    <button class="btn btn-primary"> Submit </button>
</div>
